<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">
  
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
    	<property name="dataSource" ref="dataSource" />
    	<property name="transactionManager" ref="transactionManager" />
    	<property name="databaseSchemaUpdate" value="true" />
    	<property name="jobExecutorActivate" value="true" />
    	<property name="labelFontName" value="宋体" />
    	<property name="activityFontName" value="宋体" />
        <property name="customFormTypes">
          <list>
            <bean class="org.activiti.explorer.form.UserFormType"/>
            <bean class="org.activiti.explorer.form.ProcessDefinitionFormType"/> 
            <bean class="org.activiti.explorer.form.MonthFormType"/>   
          </list>
        </property>
    </bean>
  
    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean" destroy-method="destroy">
  	    <property name="processEngineConfiguration" ref="processEngineConfiguration" />
    </bean>
	<!-- 提供一系列管理流程部署和流程定义的API -->
    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
    	<!-- 在流程运行时对流程实例进行管理与控制 -->
    <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
    	<!-- 对流程任务进行管理，例如任务提醒、任务完成和创建任务等 -->
    <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
    	<!-- 对流程的历史数据进行操作，包括查询、删除这些历史数据 -->
    <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
</beans>